body{
    margin-top: 10px;
   
    width: 100%;

    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
    
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
    body{
       top:10px;
        display: flex;
        
        position: fixed;
    }
    .container{
        display: block;
        
    }
    #arrow{
        padding-top: 14px;
        margin-left: 15px;
        top: 9px;
        position: absolute;
        transform: 0.5s;
        
        
    }
    i{
        padding-top: 14px;
        margin-left: 90%;
        top: 10px;
        position: absolute;
       
    }

.wrap-search {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.search {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #00c4cc;
  line-height: 1.2;
border: hidden;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}


.focus-search {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-search::after {
  
  font-family: Material-Design-Iconic-Font;
  color: #00c4cc;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-search::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #00c4cc;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.search:focus + .focus-search::before {
  width: 100%;
}

.has-val.search + .focus-search::before {
  width: 100%;
}

.search:focus + .focus-search::after {
  color: #00c4cc;
}
